 

Please consider the provided dataset (DatasetHW1), which was collected
from multiple sources. The dataset has 15 features (F1-F15) and 1 output
numerical value. The dataset may suffer from noisy, missing, inconsistent or
replicated data. Please perform the following steps (if required) to help you in
data analysis:

1. Data cleaning: Handle missing and noisy data (Note: some missing
values have been replaced with zero. So, you can observe the unusual
zero values for some features).

2. Data Integration: Handle redundant data

3. Data reduction: Eliminate irrelevant features, reduce data size, etc.
4. Data transformation and discretization

    a. Normalize the features

    b. Discretize the output numerical valuew

5. Data visualization

Please preserve a copy of the output data after each step. Write a report to

explain your work and to provide data analysis. Please consider the following

regulations:
1. Group work (The number of students per group will be decided soon).
2. Please use Python to implement the steps above.

Good luck and stay safe!

----
----

# **Step 1:** Import Python libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# **Step 2:** Get your data

I imported the data from Google Sheets to the pandas dataframe.

In [2]:
df = pd.read_csv('DatasetHW1.csv')

Letâ€™s check how our data looks like:

In [3]:
df.head(5)

,ID,F1,F2,F3,F4,F5,F6,F7,F8,F9,F10,F11,F12,F13,F14,F15,Value
0,1,22/01/2020,-14.2710,-170.1320,5.1356,0.001374,283.9886,0.0000,-0.93476,0.0000,12.2452,281.2795,99717.1599,99927.1119,0.000000,99927.1119,0
1,2,22/01/2020,13.4443,144.7937,5.8085,0.001320,285.1941,403.8700,-0.70282,298.7755,9.3785,445.4341,97703.3562,97750.3321,0.018726,97750.3321,0
2,3,22/01/2020,15.0979,145.6739,3.6222,0.001748,266.7505,170.4401,-0.93676,274.2803,13.7895,235.4436,100290.4008,100510.7123,0.004192,100510.7123,0
3,4,22/01/2020,18.1801,-66.7544,5.0478,0.001531,279.6647,541.0320,-1.61730,299.3065,15.1666,265.0875,99897.6388,100191.4410,0.015659,100191.4410,0
4,5,22/01/2020,18.3603,-67.1751,5.1247,0.001282,272.2021,531.0185,-1.85910,299.0918,8.4582,256.1323,100059.9694,100303.7001,0.015754,100303.7001,0

# **Step 3:** Basic Analysis of Dataset

pandas has several methods that allow you to quickly analyze a dataset and get an idea of the type and amount of data you are dealing with along with some important statistics.

    .shape - returns the row and column count of a dataset
    .describe() - returns statistics about the numerical columns in a dataset
    .dtypes returns the data type of each column

In [4]:
df.shape

(674322, 17)

In [5]:
df.describe()

,ID,F2,F3,F4,F5,F6,F7,F8,F9,F10,F11,F12,F13,F14,F15,Value
count,674322.000000,674322.000000,674322.000000,674322.000000,674322.000000,674322.000000,674322.000000,674322.000000,674322.000000,674322.000000,674322.000000,674322.000000,674322.000000,674322.000000,674322.000000,6.743220e+05
mean,337161.500000,35.554208,-80.381668,20.215417,0.010020,285.841722,463.911375,-1.606081,234.279174,14.415300,429.025518,96876.325518,78073.884504,0.007089,78073.884504,1.530725e+03
std,194660.138447,11.761307,40.586084,10.996307,0.005233,148.008005,303.996827,2.730480,114.950091,13.463633,521.381128,5620.182639,38515.664655,0.005492,38515.664655,3.414866e+04
min,1.000000,-51.796300,-174.159600,-44.413800,0.000061,0.000000,0.000000,-17.033200,0.000000,0.000000,-1.696600,55265.954400,0.000000,0.000000,0.000000,0.000000e+00
25%,168581.250000,33.215000,-97.285500,12.073400,0.005346,274.484675,246.389825,-2.071200,274.037500,10.391700,116.676600,96044.586950,86485.336250,0.003001,86485.336250,0.000000e+00
50%,337161.500000,37.782550,-88.338000,21.819800,0.009189,335.760500,487.924650,-1.593900,287.549350,13.364800,267.706200,98578.332500,97628.411500,0.006094,97628.411500,5.000000e+00
75%,505741.750000,41.567400,-80.499900,29.018900,0.014581,388.019900,732.319925,-1.178300,296.940400,15.327500,477.554600,100378.248600,99649.793450,0.011416,99649.793450,7.900000e+01
max,674322.000000,71.706900,178.065000,50.323800,0.025050,541.365300,1212.071200,178.588400,322.377600,80.384500,4874.797300,104780.254600,103965.312100,0.023561,103965.312100,4.233923e+06

In [6]:
df.dtypes

ID         int64
F1        object
F2       float64
F3       float64
F4       float64
F5       float64
F6       float64
F7       float64
F8       float64
F9       float64
F10      float64
F11      float64
F12      float64
F13      float64
F14      float64
F15      float64
Value      int64
dtype: object

**Missing Values**

checking the number of missing data

In [7]:
df.isnull().sum()

ID       0
F1       0
F2       0
F3       0
F4       0
F5       0
F6       0
F7       0
F8       0
F9       0
F10      0
F11      0
F12      0
F13      0
F14      0
F15      0
Value    0
dtype: int64

In [22]:
{print(f'{col} has {len(df[df[col]== 0])} Missing values') for col in df.columns}

ID has 0 Missing values
F1 has 0 Missing values
F2 has 20944 Missing values
F3 has 20944 Missing values
F4 has 0 Missing values
F5 has 0 Missing values
F6 has 130160 Missing values
F7 has 130170 Missing values
F8 has 7341 Missing values
F9 has 130160 Missing values
F10 has 130160 Missing values
F11 has 0 Missing values
F12 has 0 Missing values
F13 has 130160 Missing values
F14 has 130160 Missing values
F15 has 130160 Missing values
Value has 263504 Missing values

{None}

# **Step 4:** Data cleaning, integration and reduction

Dropping duplicate values

In [23]:
df = df.drop_duplicates()
df.shape

(674322, 17)

Dropping rows with zero value

In [25]:
for col in df.columns:
    df.drop( df[df[col] == 0].index , inplace = True)

df.shape

(278236, 17)

In [26]:
{print(f'{col} has {len(df[df[col]== 0])} Missing values') for col in df.columns}

ID has 0 Missing values
F1 has 0 Missing values
F2 has 0 Missing values
F3 has 0 Missing values
F4 has 0 Missing values
F5 has 0 Missing values
F6 has 0 Missing values
F7 has 0 Missing values
F8 has 0 Missing values
F9 has 0 Missing values
F10 has 0 Missing values
F11 has 0 Missing values
F12 has 0 Missing values
F13 has 0 Missing values
F14 has 0 Missing values
F15 has 0 Missing values
Value has 0 Missing values

{None}

# **Step 5:** Data transformation and discretization

In [27]:
df.describe()

,ID,F2,F3,F4,F5,F6,F7,F8,F9,F10,F11,F12,F13,F14,F15,Value
count,278236.000000,278236.000000,278236.000000,278236.000000,278236.000000,278236.000000,278236.000000,278236.000000,278236.000000,278236.000000,278236.000000,278236.000000,278236.000000,278236.000000,278236.000000,2.782360e+05
mean,394672.997254,36.800401,-81.788603,22.269169,0.010276,373.812955,670.471084,-1.751293,294.698662,14.796148,445.720166,96622.990512,96634.110702,0.010451,96634.110702,1.037856e+03
std,105467.708348,9.111459,40.789082,8.607790,0.004515,45.869090,190.091631,0.771562,8.197379,5.399802,506.725057,5475.575368,5401.860377,0.004610,5401.860377,1.264460e+04
min,3052.000000,-42.882100,-164.035400,-25.555700,0.000316,143.419500,3.923500,-10.923600,231.244900,6.592200,-1.696600,67185.384800,67160.147300,0.000063,67160.147300,1.000000e+00
25%,311687.500000,33.719000,-96.223200,16.460850,0.006448,340.538950,511.526625,-2.188500,289.258500,12.796000,135.425200,95668.107150,95799.816050,0.006471,95799.816050,6.000000e+00
50%,400430.500000,37.752200,-88.096700,23.522600,0.009891,377.185850,714.510950,-1.677700,295.860750,14.229600,284.922600,98326.517850,98328.924250,0.010195,98328.924250,2.900000e+01
75%,484109.250000,41.459900,-81.124900,28.931100,0.014019,410.339325,832.605625,-1.265100,301.029450,15.412300,506.630600,100064.056600,99921.871825,0.014407,99921.871825,1.510000e+02
max,566030.000000,71.706900,178.065000,49.630700,0.024560,541.365300,1212.071200,5.360300,322.377600,79.314600,3429.221100,104780.254600,103915.247100,0.023407,103915.247100,1.274974e+06

In [28]:
df.to_csv('Infection_Dataset_cleaned')